.doctor-list-container{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    padding: 40px;
    background-color: #f9f9f9;
    min-width: 100vh;
}

@media screen and (max-width: 992px){
    .doctor-list-container {
        gap: 10px;
        padding: 10px;
        width: 800px;
        margin-left: 100px;
    }   
}
@media screen and (max-width: 767px){
    .doctor-list-container {
        gap: 10px;
        padding: 10px;
        width: 800px;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}